<%- include("./header.ejs") %>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/aside.css">

  <body>
    
    <aside>
      <div class="content">
        <a href="/newcase">
          <img src="/img/add.svg" alt="Add">
        </a>

        <a href="/logout">
          <img src="/img/logout.svg" alt="Logout">
        </a>
      </div>
    </aside>

  </body>
  
  <script src="/scripts/aside.js"></script>
  <%- include("./footer.ejs") %>