<%- include("./header.ejs") %>
<link rel="stylesheet" href="/styles/navbar.css">
<body>
  <header>
  <img src="/img/logo.svg" alt="Logo">
    <p>Total of
      <span>15 cases</span>
    </p>
  </header>  
</body>
<%- include("./footer.ejs") %>