<%- include("./partials/header.ejs") %>
  <link rel="stylesheet" href="/styles/index.css">

  <body>
    <div class="main-content">
      <div class="content">

        <img src="/img/logo.svg" alt="svg" class="logo">

        <h2>Login</h2>
        <form action="/login" method="POST">
          <input type="text" name="email" placeholder="Your email" required>
          <input type="password" name="password" placeholder="Password">
          <button type="submit">Enter</button>
        </form>

        <a href="/register">
          <img src="/img/back.svg" alt="">
          I don't have an account
        </a>
      </div>
    </div>
  </body>

  <%- include("./partials/footer.ejs") %>