.content {
  width: 100vw;
  margin-top: 3rem;
  padding: 0 2rem;
  padding-right: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.content h1 {
  font-size: 3rem;
  font-family: Rubik, sans-serif;
  color: var(--color-mainTitles);
}

.content p {
  font-size: 1.7rem;
  font-family: Rubik, sans-serif;
  color: var(--color-texts);
}

/*cases*/
.cases-list {
  width: 100%;
  margin: 3rem 0;
}

.case {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: .7rem;
}

.case main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  padding: 1.5rem;
}

.case h4, .case p, .case a{
  font-family: Rubik, sans-serif;
  color: var(--color-secondaryTitles);
  font-size: 1.6rem;
}

.case p {
  width: 90%;
  color: var(--color-texts);
  margin-top: .5rem;
}

.case .footer {
  border-top: 1.5px solid var(--color-background);
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  height: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case .footer a {
  color: var(--color-redhero);
  text-decoration: none;

  transition: .3s;
}

.case .footer button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.case .footer button img {
  width: 2rem;
}

.case .footer a:hover, .footer button:hover {
  opacity: .85;
}

/*details page*/
.details {
  width: 90%;
  margin: auto;
}

.details main {
  display: flex;
  flex-direction: column;
}

.details .footer {
  height: auto;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.details .footer .text {
  display: flex;
  flex-direction: column;
}

.details .footer h2 {
  font-family: Rubik, sans-serif;
  font-size: 2.2rem;
  color: var(--color-mainTitles);
}

.details .footer .buttons {
  margin-top: 1.3rem;
  width: 100%;
}

.details .footer .buttons a {
  margin-right: 1rem;
}
