.main {
  width: 100vw;
  height: 100vh;
}

.details {
  width: 100%;
  background-color: #fff;
  border-radius: .7rem;
}

.details main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  gap: 1rem;
}

.details h4, .details p, .details a{
  font-family: Rubik, sans-serif;
  color: var(--color-secondaryTitles);
  font-size: 1.6rem;
}

.details p {
  width: 90%;
  color: var(--color-texts);
  margin-top: .5rem;
}

.details .footer {
  border-top: 1.5px solid var(--color-background);
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  height: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details .footer a {
  color: var(--color-redhero);
  text-decoration: none;

  transition: .3s;
}

.details .footer button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.details .footer button img {
  width: 2rem;
}

.details .footer a:hover, .footer button:hover {
  opacity: .85;
}

/*details page*/
.details {
  width: 90%;
  margin: 2rem auto;
}

.details main {
  display: flex;
  flex-direction: column;
}

.details .footer {
  height: auto;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.details .footer .text {
  display: flex;
  flex-direction: column;
}

.details .footer h2 {
  font-family: Rubik, sans-serif;
  font-size: 2.2rem;
  color: var(--color-mainTitles);
}

.details .footer .buttons {
  margin-top: 1.3rem;
  width: 100%;
}

.details .footer .buttons p {
  margin-right: 1rem;
}

.details .footer .buttons p span {
  color: var(--color-redhero);
}


@media(min-width: 800px) {
  .details-list {
    grid-template-columns: 1fr 1fr;
  }

  .details {
    width: 80%;
  }
}

@media(min-width: 1000px) {
  .details {
    width: 70%;
  }
}