* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

:root {
  --color-redhero: #E02041;
  --color-mainTitles: #13131A;
  --color-secondaryTitles: #41414D;
  --color-texts: #737380;
  --color-secondaryTexts:#A8A8B3;
  --color-background: #F0F0F5;

  font-size: 62.5%;
}