body {
  background-color: var(--color-background);
}

header {
  width: 100vw;
  height: 6rem;
  padding: 0 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 10rem;
}

header p, header a {
  font-size: 1.7rem;
  font-family: Rubik, sans-serif;
  text-decoration: none;
  color: var(--color-mainTitles);

  transition: .3s;
}

header p span {
  font-weight: bold;
}

header a:hover {
  color: var(--color-redhero);
}

